.select {

  background-color: $white;
  height: 150px;

  &__title {
    font-size: 24px;
    color: $brownish-grey;
    line-height: 1;
  }
}

.selectFilter {
  width: 43%;
  float: left;
  margin-right: 5px;

}
